<div class="row">
    <div class="col-12">
        <div class="empty-state">
        <div class="empty-state-icon bg-warning">
            <i class="fas fa-info"></i>
        </div>
        <h2>Oops, não há dados para <%= chart_title %>!</h2>
        <p class="lead">
            Desculpe, mas não conseguimos encontrar nenhum dado para esse gráfico. <br/>
        </p>
        </div>
    </div>
</div>