<form class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fa fa-bars"></i></a></li>
    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fa fa-search"></i></a></li>
    </ul>
    <div class="search-element">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        
        <div class="search-backdrop"></div>
        <div class="search-result">
            <i class="before fa fa-caret-up"></i>
            <div class="search-header"> Histories </div>
            <div class="search-item">
                <a href="#">How to hack NASA using CSS</a>
                <a href="#" class="search-close"><i class="fa fa-times"></i></a>
            </div>
            <div class="search-item">
                <a href="#">Kodinger.com</a>
                <a href="#" class="search-close"><i class="fa fa-times"></i></a>
            </div>
            <div class="search-item">
                <a href="#">#Stisla</a>
                <a href="#" class="search-close"><i class="fa fa-times"></i></a>
            </div>

            <div class="search-header"> Result </div>
            <div class="search-item">
                <a href="#">
                    <img class="mr-3 rounded" width="30" src="https://picsum.photos/200/?random" alt="product">
                    oPhone S9 Limited Edition
                </a>
            </div>
            <div class="search-item">
                <a href="#">
                    <img class="mr-3 rounded" width="30" src="https://picsum.photos/200/?random" alt="product">
                    Drone X2 New Gen-7
                </a>
            </div>
            <div class="search-item">
                <a href="#">
                    <img class="mr-3 rounded" width="30" src="https://picsum.photos/200/?random" alt="product">
                    Headphone Blitz
                </a>
            </div>

            <div class="search-header"> Projects </div>
            <div class="search-item">
                <a href="#">
                    <div class="search-icon bg-danger text-white mr-3">
                    <i class="fa fa-code"></i>
                    </div>
                    Stisla Admin Template
                </a>
            </div>
            <div class="search-item">
                <a href="#">
                    <div class="search-icon bg-primary text-white mr-3">
                    <i class="fa fa-laptop"></i>
                    </div>
                    Create a new Homepage Design
                </a>
            </div>
        </div>
    </div>
</form>